<ion-header>
  <ion-toolbar>
    <ion-title>note-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Titre</ion-label>
      <ion-input [(ngModel)]="note.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Texte</ion-label>
      <ion-textarea rows="6" [(ngModel)]="note.text"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="validate()">Valider</ion-button>

</ion-content>